.nav-phone-icon {
    display: none;
    position: absolute;
    right: 30px;
    top: 25px;
    z-index: 1;
    width: 16px;
    height: 22px;
    cursor: pointer;
}

.Header {
  background-color: $firstColorDarken;
  position: relative;
  z-index: 10;
  height: 64px;
}

.Logo {
  overflow: hidden;
  padding-left: 40px;
  float: left;
  line-height: 64px;
  text-decoration: none;
  height: 64px;
  img {
    display: inline;
    vertical-align: middle;
    margin-right: 16px;
    width: 32px;
  }
  span {
    color: white;
    outline: none;
    font-size: 14px;
    line-height: 28px;
  }
}

.header-meta {
//   .clearfix();
  padding-right: 40px;
}

.Menu {
  float: right;
  overflow: hidden;
  height: 64px;
  .ant-menu {
    line-height: 60px;
    background: transparent;
  }
  .ant-menu-horizontal {
    a{
      color: white;
      &:hover,
      &:active{
        color: $firstColorInverse;
      }
    }
    border-bottom: none;
    & > .ant-menu-item {
      border-top: 2px solid transparent;
      &:hover {
        border-top: 2px solid $firstColorInverse;
        border-bottom: 2px solid transparent;
      }
    }
    & > .ant-menu-item-selected {
      border-top: 2px solid $firstColorInverse;
      border-bottom: 2px solid transparent;
      a {
        color: $firstColorInverse;
      }
    }
  }
}

#preview {
  padding-top: 17px;
  float: right;
  margin-left: 32px;
  button {
    border-radius: 32px;
  }
}

// #preview-button {
//   .ant-btn {
//     color: @site-text-color;
//   }
// }
